#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 64px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 1em;
}

input {
  background-color: red;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
